
/* Estilos para el div contenedor */
.contenedor {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 90%;
    background-color: #CDCDCD; /* Color de fondo opcional */
    text-align: center; /* Centrar horizontalmente el contenido */
    line-height: 500px; /* Centrar verticalmente el contenido */
}

/* Estilo para el contenedor div */
#imageContainer {
    font-family: 'Magra', sans-serif;
    margin-top: 100px;
    background-color: #CDCDCD;

}

/* Estilo para los botones */
button {
    padding: 10px;
    background-color: #0C1340;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilo para la imagen */
#displayedImage {
    margin-bottom: 100px;
    display: block;
    margin: 0 auto;
    width: 50%;
}