* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.contenedor-img-form {
    background-color: #F4F4F4;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 8px 12px #888888;
    margin: auto;
    width: 450px;
    height: 90vh;
}

#texto_titulo {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Magra', sans-serif;
    color: #0C1340;
    display: flex;
    justify-content: center;


}

#texto {
    font-family: 'Magra', sans-serif;
    font-weight: bold;
    color: #0C1340;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#logo {

    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 250px;
}

#l_input {

    display: flex;
    flex-direction: column;
}

#dni,
#password {
    margin-left: 10px;
    border: none;
    background-color: #D9D9D9;
    width: 420px;
    height: 40px;
}

#dni,#password:focus {
    outline: none;
}

.contenedor-i-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente los elementos */
    justify-content: center;
    /* Centra verticalmente los elementos */
    margin-top: 20px;
}

#boton {
    background-color: #0C1340;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    width: 148px;
    height: 60px;

}

#texto_olvido {
    font-family: 'Magra', sans-serif;
    color: #0C1340;
    font-weight: bold;
}